.page-container .main-content {
  padding: 0px;
}

.dataTables_wrapper {
  border: 0;
}

table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
  padding: 30px 0;
  font-weight: bold;
  color: #BBB;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: 2px solid #eeeeee !important;
}

table.dataTable tbody th, table.dataTable tbody td {
  cursor: pointer;
  a {
    color: #335d8d;
    &:hover {
      color: #303641;
    }
  }
}

.dataTable-summary {
  padding: 0;
  list-style: none;
  float: right;
  border-radius: 5px;
  display: block;
  margin: 6px 10px;
  background-color: #335d8d;

  > li {
    margin: 0;
    float: left;
    display: block;
    min-width: 120px;
    padding: 6px 25px;
    border-left: 1px solid mix(#335d8d, #ffffff, 90%);
    color: #ffffff;

    &.first {
      border-left: 0px;
    }

    label {
      margin: 0;
      display: block;
      font-weight: normal;
      color: mix(#335d8d, #ffffff, 50%);
      text-align: right;
    }

    span {
      display: block;
      font-size: 18px;
      font-weight: bold;
      text-align: right;
    }
  }
}


.links-list {
  padding: 0;
}

hr {
  margin-top: 17px;
  margin-bottom: 6px;
}

.profile-info.dropdown > a {
  font-size: 12px;

  img {
    border: 0;
  }
}

.panel.minimal > .panel-heading > .panel-title {
  padding-bottom: 15px;
  font-weight: bold;
  color: #555555;
}

.panel-body {
    position: relative;
    padding: 25px 15px 0 15px;
}

.panel.minimal > .panel-heading {
    padding: 0;
    border-bottom: 1px solid #ebebeb;
}

label.control-label {
  font-weight: normal;
}

.panel.minimal {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left !important;
  }
}

.control-label:after {
  content: ":"
}

.page-body .select2-container {
  min-height: 31px !important;
}

.page-body .select2-container .select2-choice, .select-add-field {
  overflow: hidden;
  height: 31px;
  line-height: 31px;
  border-left: 0px;

  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  -webkit-border-top-right-radius: 3px !important;
  -webkit-border-bottom-right-radius: 3px !important;
  -moz-border-radius-topright: 3px !important;
  -moz-border-radius-bottomright: 3px !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.page-body .select2-container .select2-choice .select2-arrow {
  width: 31px;
}

.page-body .select2-drop .select2-search input {
  padding: 7px 12px;
}

.page-body table td.center, .page-body table th.center {
  text-align: center;
}

.page-body table td.right, .page-body table th.right {
  text-align: right;
}

.page-body table td.left, .page-body table th.left {
  text-align: left;
}

.page-body table td.grouped-col {
  background: #fff;
  font-weight: bold;
}


.nav-tabs > li > a {
  color: #777;
  &:hover, &:active, &:visited {
    color: #777;
  }
}

.btn.icon-only {
  padding: 5px 10px;
}

.pop-page-action .entypo-menu, .pop-page-action .entypo-menu:hover {
  color: #303641;
}

.pop-page-action .daterange-inline {
  padding: 4px 6px;
}

.dataTables_wrapper .dataTables_paginate {
  border: 0px;
  padding: 0 10px !important;
  margin: 0px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 10px 0px;
  border-radius: 3px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    border-right: 0 !important;
}

.dataTables_wrapper.DTS .dataTables_paginate {
  display: none;
}

.dataTables_wrapper.DTS .dataTables_info {
  padding-top: 0 !important;
}

.dataTables_wrapper.DTS .dataTables_scrollBody {
  border-bottom: 1px solid #eeeeee;
}

.dataTables_wrapper .dataTables_processing {
  padding-top: 10px;
  color: #999;
}

.input-group-addon a, .input-group-addon a:hover,
.input-group-addon a:visited, .input-group-addon a:active {
  color: #303641;
}

.form-group.has-error .help-block,
.form-group.has-error .control-label,
.form-group.has-error .radio,
.form-group.has-error .checkbox,
.form-group.has-error .radio-inline,
.form-group.has-error .checkbox-inline,
.form-group.has-error.radio label,
.form-group.has-error.checkbox label,
.form-group.has-error.radio-inline label,
.form-group.has-error.checkbox-inline label {
  color: #c71515;
}

.form-group.has-error .form-control,
.form-group.has-error .form-control:focus {
  border-color: #c71515;
}

.help-block {
  font-size: .8em;
  font-weight: bold;
}

.checkbox label, .radio label {
  padding-left: 25px;
}

.radio input[type="radio"], .radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin: 0;
    margin-left: -25px;
    top: 2px;
    height: auto;
}

.form-horizontal .radio, .form-horizontal .checkbox,
.form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  padding-top: 0;
}

.page-body .cbp_tmtimeline > li .cbp_tmicon.bg-info {
  background-color: #3769a3;
}

.page-body .select2-container .select2-choices {
  padding-top: 0;
}

.page-body .select2-container-multi .select2-choices .select2-search-choice {
  margin: 5px 0 5px 5px;
  font-size: 12px;
}

.page-body .select2-container .select2-choices .select2-search-field input {
  padding: 0 5px;
}

/* VERTICAL TIMELINE */
.page-body .cbp_tmtimeline:before {
  background: #f5f5f6;
  width: 5px;
  margin-left: -6px;
}
.page-body .cbp_tmtimeline > li .cbp_tmtime > span {
  color: #111;
  font-size: 15px;
}
.page-body .cbp_tmtimeline > li .cbp_tmtime > span:first-child {
  font-weight: bold;
  margin-bottom: 2px;
}
.page-body .cbp_tmtimeline > li .cbp_tmtime > span:last-child {
  color: #303641;
  zoom: 1;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  font-size: 12px;
}
.page-body .cbp_tmtimeline > li .cbp_tmtime > span.large {
  font-size: 17px;
}
.page-body .cbp_tmtimeline > li .cbp_tmtime > span.hidden + span {
  margin-top: 8px;
}
.page-body .cbp_tmtimeline > li .cbp_tmicon {
  background: #ffffff;
  color: #d2d2d2;
  -moz-box-shadow: 0px 0px 0px 5px #f5f5f6;
  -webkit-box-shadow: 0px 0px 0px 5px #f5f5f6;
  box-shadow: 0px 0px 0px 5px #f5f5f6;
}
.page-body .cbp_tmtimeline > li .cbp_tmicon.bg-primary {
  background-color: #303641;
  color: #fff;
}
.page-body .cbp_tmtimeline > li .cbp_tmicon.bg-secondary {
  background-color: #ee4749;
  color: #fff;
}
.page-body .cbp_tmtimeline > li .cbp_tmicon.bg-success {
  background-color: #00a651;
  color: #fff;
}
.page-body .cbp_tmtimeline > li .cbp_tmicon.bg-info {
  background-color: #21a9e1;
  color: #fff;
}
.page-body .cbp_tmtimeline > li .cbp_tmicon.bg-warning {
  background-color: #fad839;
  color: #fff;
}
.page-body .cbp_tmtimeline > li .cbp_tmicon.bg-danger {
  background-color: #cc2424;
  color: #fff;
}
.page-body .cbp_tmtimeline > li .cbp_tmlabel {
  background: #f5f5f6;
  color: #737881;
  margin-bottom: 70px;
  padding: 1.7em;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.page-body .cbp_tmtimeline > li .cbp_tmlabel h2,
.page-body .cbp_tmtimeline > li .cbp_tmlabel p {
  color: #737881;
  font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 1.42857143;
}
.page-body .cbp_tmtimeline > li .cbp_tmlabel p + p {
  margin-top: 15px;
}
.page-body .cbp_tmtimeline > li .cbp_tmlabel h2 {
  font-size: 16px;
}
.page-body .cbp_tmtimeline > li .cbp_tmlabel h2 a {
  color: #303641;
}
.page-body .cbp_tmtimeline > li .cbp_tmlabel h2 span {
  zoom: 1;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.page-body .cbp_tmtimeline > li .cbp_tmlabel:after {
  border-right-color: #f5f5f6;
}
.page-body .cbp_tmtimeline > li .cbp_tmlabel.empty {
  background: 0;
  padding: 9px 0;
  margin-bottom: 70px;
}
.page-body .cbp_tmtimeline > li .cbp_tmlabel.empty:after {
  visibility: hidden;
}
@media screen and (max-width: 47.2em) {
  .page-body .cbp_tmtimeline > li .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #f5f5f6;
    left: 10px;
  }
  .page-body .cbp_tmtimeline > li .large {
    font-weight: bold;
    font-size: 16px !important;
  }
  .page-body .cbp_tmtimeline > li .cbp_tmlabel.empty {
    background: #f5f5f6;
    padding: 1.7em;
  }
  .page-body .cbp_tmtimeline > li .cbp_tmlabel.empty:after {
    visibility: visible;
  }
}
